<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
   <!-- namespace:命名空间 -->
<mapper namespace="cn.acyou.iblog.dao.ActiveCodeDao">
	<!-- 添加用户 -->
	<insert id="addActiveCode">
		INSERT INTO ib_activecode VALUES(DEFAULT,#{0},#{1},DEFAULT,DEFAULT);
	</insert>
	<select id="findActiveCodeByEmail" parameterType="string" resultType="string">
		SELECT activecode from ib_activecode where email=#{email}
	</select>
</mapper>